{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To FlaskApp</h1>
    <p class="lead">Lorem ipsum</p>
    <form action="" method="POST">
      <div class="form-group" style="height:100px; width:150px;">
        <label>Choose team</label>
        <!--Have to make the stylish input field as drop down -->
        <!--<input type="text" name="team" class="form-control" value={{request.form.team}}>-->
        <div>{{ form.team }}</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% endblock %}
