{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To FlaskApp</h1>
    <p class="lead">Lorem ipsum</p>
    <form action="" method="POST">
      <div class="form-group" style="height:100px; width:150px;">
        <label>Choose opponent team</label>
        <!--Have to make the stylish input field as drop down -->
        <!--<input type="text" name="team" class="form-control" value={{request.form.team}}>-->
        <div> {{ form.team }}</div>    
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="jumbotron text-center">
    {% if display_tables %}
      <!-- D3.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <!-- Plotly.js -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      
      
      <p>{{ team }} vs {{ form.team.data }}</p>

      <!-- TODO: graphJSON load twice now, unnecessery-->

      <!-- Bar graph of goal differences -->
      <div id="plot_1" style="width:600px;height:400px;">
        <script type="text/javascript">
          var graph = {{graphJSON | safe}};
          Plotly.plot('plot_1', graph[0].data, graph[0].layout);
        </script>
      </div>

      <br/>

      <!-- Bubble chart plot of amount of matches played with a specific result -->
      <div id="plot_2" style="width:600px;height:400px;">
        <script type="text/javascript">
          var graph = {{graphJSON | safe}};
          Plotly.plot('plot_2', graph[1].data, graph[1].layout);
        </script>
      </div>

    {% endif %}
  </div>
{% endblock %}
